@import "config/valiable";

.main {
  height: calc(100vh - 100px - 30px);
  width: 80%;
  overflow: auto;
  letter-spacing: 0.1em;
  margin:0 auto;
  .search-form {
    width: 100%;
    text-align: center;
    margin: 40px 0;
    .search-input {
      width: 30%;
      vertical-align : middle;
    }
    .search-btn {
      padding: 0 10px;
      vertical-align : middle;
    }
  }

  .table-responsive {
    color: black;
    padding: 50px;
    font-size: 15px;
    display: flex;
    text-align: center;
    box-shadow: 0 0 4px gray;
    .chart {
      width: 60%;
      margin: 0 auto;
      position: relative;
      thead {
        border-bottom: 2px solid #ccc;
        margin: 0 auto;
        tr {
          th {
            text-align: center;
          }
        }
      }
      tbody {
        .clickable-row {
          border-bottom: 2px solid #ccc;
          height: 80px;
        }
        .clickable-row:hover {
          @include hov-btn;
          cursor: pointer;
        }
      }
      tr:nth-child(odd) td {
        background-color: #eee;
     }
    }
  }
  .registration {
    .form-group {
      width: 800px;
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      margin: 0 auto;
      .field {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        .form-title {
          font-size: 17px;
        }
        .form-control {
          margin-top: 5px;
          width: 300px;
        }
        .form-require {
          background-color: red;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 10px;
          width: 32px;
          height: 19px;
        }
      }
      .actions {
        margin: 0 auto;
        .btn-primary {
          margin-top: 50px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .remark-box {
    height: 100px;
  }
  .to-root-container {
    text-align: center;
    margin-top: 30px;
    .back-btn {
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    }
    .back-btn:hover {
      @include hov-btn;
    }
  }
}
