.main-show {
  width: 100%;
  letter-spacing: 0.1em;
  position: absolute;
  margin-top: 50px;
  .table-responsive {
    color: black;
    padding: 50px;
    font-size: 15px;
    display: flex;
    text-align: center;
    .chart {
      width: 60%;
      margin: 0 auto;
      position: relative;
      thead {
        border-bottom: 2px dashed #ccc;
        margin: 0 auto;
        tr {
          th {
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 2px dashed #ccc;
          height: 80px;
          td {
            
          }
        }
      }
      tr:nth-child(odd) td {
        background-color: #eee; 
     }
    }
  }
  .registration {
    .form-group {
      width: 800px;
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      margin: 0 auto;
      .field {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        .form-title {
          font-size: 20px;
        }
        .form-control {
          margin-top: 5px;
          width: 300px;
        }
        .form-require {
          background-color: red;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          width: 32px;
          height: 19px;
        }
      }
      .actions {
        margin: 0 auto;
        .btn-primary {
          margin-top: 50px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .remark-box {
    height: 100px;
    width: 50%;
    background-color: #eee;
    margin: 0 auto;
    position: relative;
    overflow: auto;
    font-size: 15px;
    &__top {
      position:absolute;
      top: 10px;
      left: 20px;
      border-bottom: 2px solid #666;
    }
    &__text {
      position:absolute;
      top: 40px;
      left: 20px;
    }
  }
  .container {
    height: 100px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    overflow: auto;
    font-size: 15px;
    padding-top: 20px;
    color: #666;
    &__btn {

      &--edit {
        text-decoration: none;
        color: black;
      }
      &--destroy {
        text-decoration: none;
        color: black;
      }
    }
    .container__back {
      text-decoration: none;
      color: #666;
      float: right;
    }
  }
}
